<style media="print" id="mn-critical-css">
  html{font-size:calc(var(--font-base-size,16) * 1px)}body{font-family:var(--font-stack-body)!important;font-weight:var(--font-weight-body);font-style:var(--font-style-body);color:var(--color-body-text);font-size:22px;line-height:calc(var(--base-line-height) * 1px);scroll-behavior:smooth}body .h1,body .h2,body .h3,body .h4,body .h5,body .h6,body h1,body h2,body h3,body h4,body h5,body h6{font-family:var(--font-stack-header);font-weight:var(--font-weight-header);font-style:var(--font-style-header);color:var(--color-heading-text);line-height:normal}body .h1,body h1{font-size:calc(((var(--font-h1-mobile))/ (var(--font-base-size))) * 1rem)}body .h2,body h2{font-size:calc(((var(--font-h2-mobile))/ (var(--font-base-size))) * 1rem)}body .h3,body h3{font-size:calc(((var(--font-h3-mobile))/ (var(--font-base-size))) * 1rem)}body .h4,body h4{font-size:calc(((var(--font-h4-mobile))/ (var(--font-base-size))) * 1rem)}body .h5,body h5{font-size:calc(((var(--font-h5-mobile))/ (var(--font-base-size))) * 1rem)}body .h6,body h6{font-size:calc(((var(--font-h6-mobile))/ (var(--font-base-size))) * 1rem);line-height:1.4}@media only screen and (min-width:768px){body .h1,body h1{font-size:calc(((var(--font-h1-desktop))/ (var(--font-base-size))) * 1rem)}body .h2,body h2{font-size:calc(((var(--font-h2-desktop))/ (var(--font-base-size))) * 1rem)}body .h3,body h3{font-size:calc(((var(--font-h3-desktop))/ (var(--font-base-size))) * 1rem)}body .h4,body h4{font-size:calc(((var(--font-h4-desktop))/ (var(--font-base-size))) * 1rem)}body .h5,body h5{font-size:calc(((var(--font-h5-desktop))/ (var(--font-base-size))) * 1rem)}body .h6,body h6{font-size:calc(((var(--font-h6-desktop))/ (var(--font-base-size))) * 1rem)}}.swiper-wrapper{display:flex}.swiper-container:not(.swiper-container-initialized) .swiper-slide{width:calc(100% / var(--items,1));flex:0 0 auto}@media (max-width:1023px){.swiper-container:not(.swiper-container-initialized) .swiper-slide{min-width:40vw;flex:0 0 auto}}@media (max-width:767px){.swiper-container:not(.swiper-container-initialized) .swiper-slide{min-width:66vw;flex:0 0 auto}}.opacity-0{opacity:0}.opacity-100{opacity:1!important;}.placeholder-background{position:absolute;top:0;right:0;bottom:0;left:0;pointer-events:none}.placeholder-background--animation{background-color:#000;animation:placeholder-background-loading 1.5s infinite linear}[data-image-loading]{position:relative}[data-image-loading]:after{content:'';background-color:#000;animation:placeholder-background-loading 1.5s infinite linear;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}[data-image-loading] img.lazyload{opacity:0}[data-image-loading] img.lazyloaded{opacity:1}.no-js [data-image-loading]{animation-name:none}.lazyload--fade-in{opacity:0;transition:.25s all}.lazyload--fade-in.lazyloaded{opacity:1}@media (min-width:768px){.hidden.md\:block{display:block!important}.hidden.md\:flex{display:flex!important}.hidden.md\:grid{display:grid!important}}@media (min-width:1024px){.hidden.lg\:block{display:block!important}.hidden.lg\:flex{display:flex!important}.hidden.lg\:grid{display:grid!important}}@media (min-width:1280px){.hidden.xl\:block{display:block!important}.hidden.xl\:flex{display:flex!important}.hidden.xl\:grid{display:grid!important}}

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    letter-spacing: {{ settings.type_header_spacing }}px;
  }
</style>
