<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.bg_color }};
    padding-top: {{ section.settings.ptop }}px;
    padding-bottom: {{ section.settings.pbottom }}px;
  }
  @media (max-width: 768px) {
    padding-top: {{ section.settings.ptop_mob }}px;
    padding-bottom: {{ section.settings.pbottom_mob }}px;
  }
</style>