<section class="section_container container-fluid section-my">
  <div class="main_content">
    {% if section.settings.heading != blank %}
      <div class="section__header text-center">
        <h2 class="heading">{{ section.settings.heading }}</h2>
      </div>
    {% endif %}
    {% render 'social-media-links', settings: section.settings %}
  </div>
</section>

{% schema %}
{
  "name": "Social sharing",
  "class": "social-sharing",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Social links"
    },
    {
      "type": "text",
      "id": "social_twitter_link",
      "label": "Twitter link"
    },
    {
      "type": "text",
      "id": "social_facebook_link",
      "label": "Facebook link"
    },
    {
      "type": "text",
      "id": "social_pinterest_link",
      "label": "Pinterest link"
    },
    {
      "type": "text",
      "id": "social_instagram_link",
      "label": "Instagram link"
    },
    {
      "type": "text",
      "id": "social_snapchat_link",
      "label": "Snapchat link"
    },
    {
      "type": "text",
      "id": "social_tumblr_link",
      "label": "Tumblr link"
    },
    {
      "type": "text",
      "id": "social_youtube_link",
      "label": "Youtube link"
    },
    {
      "type": "text",
      "id": "social_vimeo_link",
      "label": "Vimeo link"
    }
  ],
  "presets": [
    {
      "name": "Social sharing"
    }
  ]
}
{% endschema %}